<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bqliang.nfushortcuts">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.unionpay" />
        <package android:name="com.taobao.taobao" />
        <package android:name="com.cainiao.wireless" />
        <package android:name="com.yek.android.kfc.activitys"/>
    </queries>

    <application
        android:name=".tools.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/appcenter_backup_rule"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"/>

        <activity android:name=".activity.IntroActivity"
            android:excludeFromRecents="true"
            android:exported="true"/>

        <activity
            android:name=".activity.temp.KFCActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/scheme" />
                <data android:host="kfc" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.temp.CaiNiaoActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/scheme" />
                <data android:host="cainiao" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CallXiaobaiActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/scheme" />
                <data android:host="call_xiaobai" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:exported="true"
            android:theme="@style/AppTheme.About" />

        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="true"
            android:theme="@style/Theme.Feedback" />

        <activity
            android:name=".activity.LibraryCardActivity"
            android:exported="true"
            android:theme="@style/Theme.LibraryCard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/scheme" />
                <data android:host="library_card" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NavigationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".activity.temp.CaptivePortalLoginActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/scheme" />
                <data android:host="captive_portal_login" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.temp.HealthCodeActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/scheme" />
                <data android:host="health_code" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.WifiTileService"
            android:icon="@drawable/tile_login"
            android:label="@string/tile_captive_portal_login"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>